*{
    padding: 0;
    margin: 0;
}
html, body{
    font-family: 'Inter', sans-serif;
    background: #000;
}

.nav-container{
    background: #B21B20;
    height: 88.88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container nav {
    width: 100%;
    max-width: 1139px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.nav-container nav .time_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-weight: 700;
}
.nav-container nav .time_wrapper .time{
    display: flex;
    gap: 5px;
}

.main .landing_page{
    height: calc(100vh - 88.88px);
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .landing_page .landing_wrapper{
    width: 100%;
    max-width: 851.734px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67.5px;
}
.main .landing_page .landing_wrapper h2{
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.main .landing_page .landing_wrapper button{
    height: 60px;
    padding: 16px 31px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 100px;
    background: #B21B20;
    box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.24);
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .nav-container{
        padding: 0 25px;
    }
    .main .landing_page .landing_wrapper{
        padding: 0 25px;
    }
}
@media screen and (max-width: 992px) {
    .main .landing_page .landing_wrapper h2{
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    /* nav and landing */
    .nav-container{
        height: 180px;
    }
    .nav-container nav {
        flex-direction: column;
        gap: 15px;
    }

    .main .landing_page{
        height: 100vh;
    }

    .main .landing_page .landing_wrapper h2{
        font-size: 22px;
    }
}

/* 2nd section */
section{
    background: #000;
    padding: 80px 25px;
    margin-top: 50px;
}
.start_container .start_wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 50px;
}
.start_container .start_wrapper img{
    height: auto;
    width: 70%;
}
.start_container .start_wrapper_content{
    text-align: center;
    width: 100%;
}
.start_container .start_wrapper_content h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    /* font-size: 54px; */
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 7.49px;

}
.start_container .start_wrapper_content span{
    font-weight: 400;
    /* font-size: 32px; */
    font-size: 17px;
    line-height: 30px;

}
.start_container .start_wrapper_content .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22.74px;    
}
.start_container .start_wrapper_content .date h1{
    /* font-size: 64px; */
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
}
.start_container .start_wrapper_content .date span{
    height: 5px;
    /* width: 306px; */
    width:160px;
    display: block;
    background: #F7941D;
}
.start_container .start_wrapper_content button.start_yellow{
    border-radius: 59px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.24);
    width: 205px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-top: 34px;
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .start_container .start_wrapper_content h2{
        font-size: 54px;
    }
    .start_container .start_wrapper_content span{
        font-size: 32px;
    }
    .start_container .start_wrapper img{
        height: auto;
        width: 60%;
    }
}

@media screen and (min-width: 896px) {
    .start_container .start_wrapper{
        display: grid;
        grid-auto-flow: column;
        color: #fff;
        gap: 20px;
    }
    .start_container .start_wrapper img{
        height: auto;
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .start_container .start_wrapper{
        gap: 50px;
    }
}


/* reviews */
.reviews{
    padding-bottom: 140px;
}
.reviews .reviews_wrapper .reviews_header .star li img{
    height: auto;
    width: 40px;

}
.reviews .reviews_wrapper .reviews_header .star{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10.69px;
}
.reviews .reviews_wrapper .reviews_header{
    display: grid;
    gap: 16.62px;
    margin-bottom: 82px;
}
.reviews .reviews_wrapper .reviews_header h1{
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.reviews .reviews_wrapper .reviews_header .header_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews .reviews_wrapper .reviews_header .header_content span{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
}
@media screen and (min-width: 576px) {
    .reviews .reviews_wrapper .reviews_header .star li img{
        height: 66.66px;
        width: 66.66px;
    
    }   
    .reviews .reviews_wrapper .reviews_header .star{
        gap: 20.69px;
    }
    .reviews .reviews_wrapper .reviews_header h1{
        font-size: 54px;
    }
    .reviews .reviews_wrapper .reviews_header .header_content{
        gap: 10px;
    }
}
.reviews_content{
    padding: 0 50px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    width: 100%;
    max-width: 365px;
    text-align: center;
}
.card img{
    height: auto;
    width: 50px;
    border-radius: 100px;
}
.card .card_content{
    display: grid;
    width: 100%;
    max-width: 277px;
}
.card .card_content h3{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.card .card_content span{
    opacity: 0.7;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card .card_content p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin: 0;
}

.card .card_content .grp_star{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.58px;
}

.card .card_content .grp_star img{
    height: 14.135px;
    width: 14.135px;
}

.swiper-button-next{
    margin-right: -70px;
    color: gray !important;
    top: 40% !important;
  }
  .swiper-button-prev{
    margin-left: -70px;
    color: gray !important;
    top: 40% !important; 
}

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
}
.swiper {
    width: 100%;
    height: 100%;
    max-width: 200px !important;
    padding: 0 190px;
}

.swiper-slide {
    display: flex;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next{
    height: auto !important;
    width: 45px !important;
    margin-right: 0px;
    color: gray !important;
    top: 130% !important; 
    right: 25px !important;
    transform: translate(50%,-50%) !important;
  }
  .swiper-button-prev{
    height: auto !important;
    width: 45px !important;
    margin-left: 0px;
    color: gray !important;
    top: 130% !important; 
    left: 25px !important;
    transform: translate(-50%,-50%) !important;
    /* bottom: 0 !important; */
}


.swiper {
    max-width: 1338px !important;
    /* width: 89%; */
    width: 100%;
    height: 100%;

}
.swiper-wrapper {
    align-items: flex-start !important;
}

.swiper-slide-active{
    /* padding-left: 50px; */
}
.mobile{
    display: none !important;
}
.large{
    display: block !important;
}
.data{
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (min-width: 576px) {
    .swiper-button-next{
        top: 50% !important; 
        right: 0px !important;
        transform: translate(0,0) !important;
      }
      .swiper-button-prev{
        top: 50% !important; 
        left: 0px !important;
        transform: translate(0,0) !important;
        /* bottom: 0 !important; */
    }   
    .card{
        text-align: left !important;
    }
    
    .card .card_content .grp_star{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .card{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 21px;
        width: 100%;
        max-width: 365px;
        text-align: center;
    }

}
@media screen and (min-width: 768px) {
    .reviews_content{
        padding: 0 100px;
    }
    .swiper-wrapper {
        /* gap: 20px; */
    }
}
@media screen and (min-width: 992px) {
    .reviews_content{
        padding: 0 100px;
    }
    .card{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 21px;
        width: 100%;
        max-width: 365px;
    }

    .mobile{
        display: block !important;
    }
    .large{
        display: none !important;
    }
    .swiper-button-next{
        top: 50% !important; 
        right: -90px !important;
        transform: translate(0,0) !important;
      }
    .swiper-button-prev{
        top: 50% !important; 
        left: -90px !important;
        transform: translate(0,0) !important;
        /* bottom: 0 !important; */
    }   
}

/* outcomes */
.outcomes .outcomes_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    gap: 80px;
    z-index: 99;
    position: relative;
    /* padding: 20px; */
}
.outcomes{
    position: relative;
}
.outcomes img.design_icon{
    height: auto;
    width: 400px;
    position: absolute;
    right: 0;
    top: -300px;

}
.outcomes .outcomes_wrapper .outcomes_content{
    /* width: 100%;
    max-width: 550px; */
    word-wrap: break-word;
    width: 100%;
    max-width: 440px;
}
.outcomes .outcomes_wrapper .outcomes_content h2{
    color: #fff;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 29.79px;
}
.outcomes .outcomes_wrapper .outcomes_content .oc_list{
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    display: grid;
    gap: 14.8px;
}
.outcomes .outcomes_wrapper .outcomes_content .oc_list li {
    width: 100%;
    list-style: none;
    color: #fff;
    /* font-size: 20px; */
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.outcomes .outcomes_wrapper .outcomes_content .oc_list li:nth-child(2) > div{
    display: flex;
    flex-wrap: wrap;
}
.outcomes .outcomes_wrapper .outcomes_content .oc_list li img{
    height: auto;
    width: 32px;
}
.outcomes .outcomes_wrapper .outcomes_content .oc_list li{
    text-wrap: wrap;
    overflow-wrap: break-word;
    /* line-height: 34px; */
}
.outcomes .outcomes_wrapper .outcomes_content .oc_list li > div{
    display: grid;
}
.outcomes .outcomes_wrapper .r_outcomes{
    width: 100%;
    max-width: 440px;
    display: grid;
    gap: 30px;
    padding-left: 0px;
}
.outcomes .outcomes_wrapper .r_outcomes img{
    height: auto;
    width: 100%;
    /* width: 423.214px; */
}
.outcomes .outcomes_wrapper .r_outcomes .quote{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.outcomes .outcomes_wrapper .r_outcomes .quote img{
    height: 43px;
    width: 43px;
    grid-column: 1/2;
    /* position: absolute; */
    position:relative;
    left: 0;
    top: 0;
    /* top: 5px;
    left: -58px; */
}
.outcomes .outcomes_wrapper .r_outcomes .quote p{
    grid-row: 1/2;
    margin-top: 20px;
    opacity: 0.7;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}
.outcomes .outcomes_wrapper .r_outcomes .quote .line_grp{
    grid-row: 2/3;
    display: flex;
    margin-top: 34.22px;
    gap: 12px;
}
.outcomes .outcomes_wrapper .r_outcomes .quote .line_grp span{
    display: block;
    border-radius: 100px;
}
.outcomes .outcomes_wrapper .r_outcomes .quote .line_grp span:nth-child(1){
    height: 4px;
    width: 35px;
    background: #EE3524;
}
.outcomes .outcomes_wrapper .r_outcomes .quote .line_grp span:nth-child(2){
    height: 4px;
    width: 25px;
    background: #fff;
    opacity: 0.7;
}
.outcomes .outcomes_wrapper .r_outcomes .quote .line_grp span:nth-child(3){
    height: 4px;
    width: 18px;
    background: #fff;
    opacity: 0.7;
}
.outcomes .outcomes_wrapper .r_outcomes .quote .line_grp span:nth-child(4){
    height: 4px;
    width: 12px;
    background: #fff;
    opacity: 0.7;
}

@media screen and (min-width: 992px) {
    .outcomes .outcomes_wrapper .r_outcomes{
        width: 100%;
        max-width: 440px;
        display: grid;
        padding-left: 80px;
    }
    .outcomes .outcomes_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
        gap: 20px;
    }
    .outcomes .outcomes_wrapper .r_outcomes img{
        height: auto;
        width: 423.214px;
    }
    .outcomes .outcomes_wrapper .r_outcomes .quote img{
        height: 43px;
        width: 43px;
        position: absolute;
        top: 5px;
        left: -58px;
    }
    .outcomes .outcomes_wrapper .outcomes_content{
        /* width: 100%;
        max-width: 550px; */
        /* word-wrap: break-word; */
        width: 100%;
        max-width: 500px;
    }
    .outcomes .outcomes_wrapper .r_outcomes .quote{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .outcomes .outcomes_wrapper .outcomes_content .oc_list li img{
        height: 32px;
        width: 32px;
    }
}
.training{
    background: #000;
    padding-bottom: 219px;
}
.training .training_wrapper{
    width: 100%;
    /* max-width: 1110px; */
    max-width: 1200px;
    margin: 0 auto;
}
.training .training_wrapper h3{
    color: #fff;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 180px;
}
.training .training_wrapper h3 span{
    color: #F47B20;
}

.training .training_wrapper .training_content{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
}
.training .training_wrapper .training_content img{
    width: 100%;
    height: auto;
}
.training .training_wrapper .training_content .training_list{
    justify-self: center;
    display: grid;
    gap: 10px;
    width: 100%;
    max-width:490px;
}
.training .training_wrapper .training_content .training_list > div{
    display:flex;
    align-items: center;
    gap: 10px;
}

.training .training_wrapper .training_content .training_list > div img{
    height: 32px;
    width: 32px;
}
@media screen and (min-width: 768px) {
    .training .training_wrapper .training_content{
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 16.14px;
    }
    .training .training_wrapper .training_content .training_list{
        display: grid;
        gap: 10px;
        width: 100%;
        max-width:490px;
    }
}

/* bonuses */
.bonuses{
    background: #fff;
    padding-bottom: 329px;
    position: relative;
    margin: 0;
}
.bonuses .icon1{
    position: absolute;
    bottom: 220px;
    left: 20px;
}
.bonuses .icon2{
    position: absolute;
    top: 220px;
    right: 10px;
}
@media screen and (min-width: 768px) {
    .bonuses .icon2{
        position: absolute;
        top: 130px;
        right: 10px;
    }   
}
.bonuses .bonuses_wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bonuses .bonuses_wrapper h3{
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #000;
     text-align: center;
}
.bonuses .bonuses_wrapper h3 span{
    color: #F47B20;
}
.bonuses .bonuses_wrapper .habits_list{
    max-width: 775px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 35.05px;
    margin: 0 auto;
    margin-top: 56.24px;
    position: relative;
    z-index: 999;
}
.bonuses .bonuses_wrapper .habits_list .habits{
    /* padding: 24px 40px; */
    /* gap: 64px; */
    background: #fff;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    fill: #FFF;
    stroke-width: 0.496px;
    stroke: #E8ECEF;
    box-shadow: 0px 4px 24px -1px rgba(96, 157, 194, 0.20);
    backdrop-filter: blur(2px);
    fill: #FFF;
    stroke-width: 0.496px;
    stroke: #E8ECEF;
}
.bonuses .bonuses_wrapper .habits_list .habits img{
    width: 100px;
    justify-self: center;
    align-self: center;
    height: auto;
}
.bonuses .bonuses_wrapper .habits_list .habits h4 span{
    color: #000;
    text-align: center;
}
.bonuses .bonuses_wrapper .habits_list .habits{
    text-align: center;
}
.bonuses .bonuses_wrapper .habits_list .habits h4{
    color: #F47B20;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    
}
.bonuses .bonuses_wrapper .habits_list .habits p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .bonuses .bonuses_wrapper .habits_list .habits{
        padding: 24px 40px;
        gap: 64px;
        flex-direction: row;
    }
    .bonuses .bonuses_wrapper .habits_list .habits img{
        width:unset;
        justify-self: center;
        align-self: center;
        height: auto;
    }
    .bonuses .bonuses_wrapper .habits_list .habits{
        text-align:left;
    }
    .bonuses .bonuses_wrapper .habits_list .habits h4{
        margin-bottom: 8px;
        
    }
}


.success{
    margin: 0 !important;
    padding-top: 236px;
    padding-bottom: 150px;
    background: #000;
    position: relative;
}
.success img.seal{
    height: auto;
    width: 158px;
    position: absolute;
    top: -79px;
    left: 50%;
    transform: translate(-50%,0);
}
.success .success_wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 91.45px;
}
.success .success_wrapper h3{
    /* font-size: 54px; */
    font-size: 34px;
    color: #fff;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.success .success_wrapper span{
    color: #F47B20;
}
.success .success_wrapper .wrapper_j{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    flex-direction: column-reverse;
    margin-top: 90px;
}
.success .success_wrapper .wrapper_j img{
    height: auto;
    width: 70%;
}
.success .success_wrapper .wrapper_j .wrapper_j_content{
    width: 100%;
    max-width: 480px;
    color: #fff;
    display: grid;
    gap: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.success .success_wrapper .wrapper_j .wrapper_j_content p{
    line-height: 30px;
}
@media screen and (min-width: 768px) {
    .success .success_wrapper h3{
        font-size: 54px;
    }
    .success .success_wrapper .wrapper_j{
        /* flex-direction: row; */
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 480px 1fr;
        gap: 73px;
        width: 100%;
    }
    .success .success_wrapper .wrapper_j img{
        height: auto;
        width: 100%;

    }
    .success img.seal{
        height: auto;
        width: 358px;
        position: absolute;
        top: -179px;
        left: 50%;
        transform: translate(-50%,0);
    }
}

.guarantee_wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 80px;
    margin-bottom: 120px;
}
.guarantee_wrapper .instruction{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 37px;
}
.guarantee_wrapper .instruction .icon_guarantee{
    height: 57px;
    width: 57px;
    border-radius: 4px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%), #0A704E;
    box-shadow: 0px 10px 20px 0px rgba(10, 112, 78, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.guarantee_wrapper .instruction .icon_guarantee img{
    height: 24px;
    width: 24px;
}

.guarantee_wrapper .instruction .ins_side{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.guarantee_wrapper .instruction .ins_side p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    opacity: 0.7;
}
.guarantee_wrapper .instruction .ins_side .ins_content{
    margin-top: 23px;
    display: grid;
    gap: 23px;
}
.guarantee_wrapper .instruction .ins_side .ins_content p{
    line-height: 30px;
}
.guarantee_wrapper button.apply{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    border-radius: 65px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    outline: none;
    padding: 14px 33px;
    margin: 0 auto;
    border: none;
}
@media screen and (min-width: 768px) {
    .guarantee_wrapper .instruction{
        display: grid;
        justify-items: start;
        align-items: start;
        grid-auto-flow: column;
        grid-template-columns: 57px 1fr;
        gap: 37px;
    }
    .guarantee_wrapper{
        gap: 60px;
    }
}

.begin{
    background: #fff;
    position: relative;
}
.begin > img{
    position: absolute;
    top: 400px;
    right: 0;
}
.begin .begin_training{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
    z-index: 99;
}
.begin .begin_training h3{
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #000;
    text-align: center;
    margin-bottom: 83px;
}
.begin .begin_training span{
    color: #F47B20;
}
.begin .begin_training form{
    display: grid;
    gap: 30px;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
}
.begin .begin_training form input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    padding: 2px 0;
}
.begin .begin_training form .btn{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    border-radius: 65px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    outline: none;
    padding: 14px 33px;
    outline: none;
    margin: 0 auto;
    border: none;
}
@media screen and (min-width: 768px) {
    .begin .begin_training form{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr auto;
        align-items: end;
        gap: 30px;
    }

}
@media screen and (min-width: 1074px) {

    .begin .begin_training h3{
        font-size: 54px;
    }
    .begin > img{
        position: absolute;
        top: 200px;
        right: 0;
    }
    .begin .begin_training{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 80px;
        position: relative;
        z-index: 99;
        margin-bottom: 196px;
    }
}
/* activation */
.begin .activation{
    padding: 30px 0;
    display: flex;
    gap: 44.2px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 115px;
    position: relative;
    z-index: 999;
}
@media screen and (min-width: 576px) {
    .begin .activation{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.begin .activation .card_activation{
    padding: 28px 26px;
    border-radius: 8px;
    border: 1px solid #EE3524;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(76.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.begin .activation .card_activation:nth-child(2){
    margin-top: 0;
    /* padding: 10px 10px; */
    /* margin-top: -185px; */
    padding: 16px 5px;
    border-style: dashed;
    border: dashed 1px #EE3524;
}
.begin .activation .card_activation:nth-child(2) > h3{
    margin-top: 0px;
    background: #fff;
    border: 1px dashed #EE3524;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.begin .activation .card_activation:nth-child(2) .detail{
    /* margin-top: 43px; */
    text-align: center;
    display: grid;
}
@media screen and (min-width: 1074px) {
    .begin .activation .card_activation:nth-child(2){

        margin-top: -185px;
        padding: 0px 26px 69px 26px;
    }
    .begin .activation .card_activation:nth-child(2) > h3{
        margin-top: -27px;
    }
    .begin .activation .card_activation:nth-child(2) > h3{
        padding: 10px;
        margin-bottom: 43px;
    }
}

.begin .activation .card_activation h3{
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 9px;
}
.begin .activation .card_activation .detail{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    color: #000;
    opacity: 0.7;
    width: 100%;
    max-width: 205px;
}
.begin .activation .card_activation .act{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 0 10px;
    font-size: 32.674px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 6px;
}
.begin .activation .card_activation .act span{
    color: #F47B20;
}
.begin .activation .card_activation .act h3{
    font-size: 32px;
    margin: 0;
    color: #000;
}
.begin .activation .card_activation > p {
    width: 100%;
    max-width: 238px;
    text-align: center;
    margin-bottom: 20px;
}
.begin .activation .card_activation > button {
    padding: 16px 31px;
    border-radius: 59px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.12);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.payment{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.payment > h3{
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #000;
    margin-bottom: 49.76px;
}
.payment_container{
    /* background: red; */
    width: 719px;
    /* height: 546px; */
    padding: 20px 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0 auto;
    background: #FFF;

}
.payment_container > h4{
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 32.21px;
}

.payment_container .payment_choices{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    gap: 15px;
    margin-bottom: 33px;
}
.payment_container .payment_choices .card_pay{
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    gap: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 75.663px;
    transition: 0.3s ease;
    cursor: pointer;
}
.payment_container .payment_choices .card_pay.active{
    border: 2px solid #B21B20;
}
.payment_container .payment_choices .card_pay:nth-child(4):hover{
    border: 2px solid rgba(0, 0, 0, 0.20);
}
.payment_container .payment_choices .card_pay:hover{
    border: 2px solid #B21B20;
}
.payment_container .payment_choices .card_pay .card_detail{
    padding: 13px 20px;
}
.payment_container .payment_choices .card_pay:nth-child(4){
    width: 100%;
    height: 45.663px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.payment_container .payment_choices .card_pay:nth-child(4) img{
    width: 6.176px;
    height: 6.176px;

}
.payment_container .payment_choices .card_pay img{
    height: 32px;
    width: 32px;
}
.payment_container .payment_choices .card_pay h3{
    color: #000;
    opacity: 0.7;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    
}

@media screen and (min-width: 576px) {
    .payment_container > h4{
        text-align: left;
    }
    
    .payment_container .payment_choices{
        display: grid;
        grid-template-columns:1fr 1fr 1fr auto;
        grid-template-rows: auto;
        gap: 15px;
    }
    .payment_container .payment_choices .card_pay:nth-child(4){
        width: 48px;
        height: 75.663px;
    }
    .payment_container{
        width: 100%;
        max-width: 719px;
        margin: 0 auto;
    }
    .payment_container .payment_choices .card_pay{
        min-width: 50px;
        width: 100%;
    }
}


.card_number label > .card_title{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
@media screen and (min-width: 768px) {
    .payment_container{
        height: 480px;
        width: 100%;
        max-width: 600px;
        padding: 43px 56px;
        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.05);
    }
    .payment_container .payment_choices .card_pay{
        min-width: 50px;
        max-width: 163px;
        width: 100%;
    }
    .card_number label > .card_title{
        font-size: 18px;
    }
}

.card_number .input{
    padding: 18px 21px;
    /* height: 55px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    margin-top: 10px;
}
.card_number .input.row {
    flex-direction: column;
    gap: 20px;
    
}
.card_number .input.row > input{
    text-align: center;
}
.card_number .input input{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    width: 100%;
    max-width: 340px;
}   
.card_number .input .card_group{
    display: flex;
    gap: 5.84px;
}
.card_number .card_row{
    margin-top: 17px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.card_number .card_row img{
    height: auto;
    width:25px;
}

.payment_container > button {
    padding: 16px 31px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
    border-radius: 59px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.12);
    border: none;
    outline: none;
    color: #fff;
    margin-top: 42px;
}


.winners {
    max-width: 1200px;
    margin: 0 auto;
    padding: 170px 20px;
}
.winners > h3{
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 80px;
}
.winners > h3 span{
    color: #F47B20;
}
.winners .winner_wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.winners .winner_wrapper .win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.winners .winner_wrapper .win .win_image{
    position: relative;
    width: 100%;
    max-width: 451px;
}
.winners .winner_wrapper .win .win_image img{
    height: auto;
    max-width: 451px;
    width: 100%;
}

.winners .winner_wrapper .win .win_image .play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40.043px;
    height: 40.043px;
    flex-shrink: 0;
}
.winners .winner_wrapper .win .win_content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 515px;
}
.winners .winner_wrapper .win .win_content .win_header{
    display: flex;
    gap: 13px;
}
.winners .winner_wrapper .win .win_content .win_header img{
    width: 53.822px;
    height: 53.822px;
}
.winners .winner_wrapper .win .win_content .win_header .header_content{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.winners .winner_wrapper .win .win_content .win_header .header_content h3{
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    color: #fff;
}
.winners .winner_wrapper .win .win_content .win_header .header_content span{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.winners .winner_wrapper .win .win_content .star_grp{
    display: flex;
    gap: 1px;
}
.winners .winner_wrapper .win .win_content .star_grp img{
    width: 20px;
    height: 20px;
}
.winners .winner_wrapper .win .win_content .p{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .winners .winner_wrapper{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .winners .winner_wrapper .win:nth-child(2) {
        flex-direction: row-reverse;
    }
    .winners .winner_wrapper .win{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* gap: 121px; */
        gap: 51px;
    }
    .winners > h3{
        font-size: 54px;
        margin-bottom: 140px;
    }
    /* .winners .winner_wrapper .win{
        gap: 121px;
    } */
    
    .winners .winner_wrapper .win .win_image .play{
        width: 88.043px;
        height: 88.043px;
    }
    .card_number .input.row{
        flex-direction: row;
        gap: unset;
    }
    .card_number .input.row > input{
        text-align:left;
    }
}

@media screen and (min-width: 992px) {
    .winners .winner_wrapper .win{
        gap: 121px;
    }
}

.second_quote{
    display: grid;
    grid-gap: 50px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
}

.second_quote .people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.second_quote .people img{
    width: 104px;
    height: 104px;
}

.second_quote .people p{
    font-size: 18px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}
.second_quote .people p:nth-child(2){
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .second_quote{
        display: grid;
        grid-auto-flow: column;
        align-items: start;
        
        width: 100%;
        
        max-width:1100px;
        margin: 0 auto;
        margin-top: 200px;
    }
    .second_quote .people p{
        text-align: left;
    }
    .second_quote .people{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
}

.winners .quote_3{
    max-width:1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
}
.winners .quote_3 .head_title{
    text-align: center;
    margin-bottom: 16px;
}
.winners .quote_3 .head_title h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    color: #fff;

}
.winners .quote_3 .head_title span{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;   
    opacity: 0.7;
}
.winners .quote_3 .head_title{
    margin-bottom: 16px;
}
.winners .quote_3 p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}
.winners .quote_3 p:nth-child(2){
    margin-bottom: 30px;
}

.counselors{
    max-width: 1200px;
    margin: 0 auto;
}
.counselors > h3{
    width: 100%;
    max-width: 786px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    /* font-size: 54px; */
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 90px;
}
.counselors h3 span{
    color: #F47B20;
}

.counselors .counselors_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.counselors .counselors_wrapper img{
    height: auto;
    width: 100%;
}
.counselors .counselors_wrapper .coun_content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 515px;
}
.counselors .counselors_wrapper .coun_content > h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}
.counselors .counselors_wrapper .coun_content p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (min-width: 576px) {
    .counselors .counselors_wrapper img{
        height: auto;
        width:70%;
    }
}

@media screen and (min-width: 768px) {
    .counselors .counselors_wrapper{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }
    .counselors .counselors_wrapper img{
        height: auto;
        width:40%;
    }
    .counselors > h3{
        font-size: 54px;
    }
}
@media screen and (min-width: 992px) {
    .counselors .counselors_wrapper{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
        gap: 80px;
    }
    .counselors .counselors_wrapper img{
        height: auto;
        width:unset;
    }
}
@media screen and (min-width: 1200px) {
    .counselors .counselors_wrapper{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
        gap: 130px;
    }
}

.reviews_content.third{
    margin-top: 113px;

}

.thank_you{
    background: #000;
    margin: 0 auto;
    max-width: 1100px;
    margin-top: 180px;
}
.thank_you .title_ty{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 93px;
}
.thank_you .title_ty > h3{
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #fff;
}
.thank_you .title_ty > h3:nth-child(2){
    color: #F47B20;
}
.thank_you .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 79.13px;
}
.thank_you .video .vid_image{
    position: relative;
    height: auto;
    max-width: 451px;
    width: 100%;
}

.thank_you .video .vid_image img{
    height: auto;
    width: 100%;
}
.thank_you .video .vid_image .vid_play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 88px;
    width: auto;
}

.thank_you .video .vid_content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;

    width: 100%;
    max-width: 515px;
}

.thank_you .video .vid_content img{
    height: auto;
    width: 58px;
}
.thank_you .video .vid_content h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.thank_you .video .vid_content p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .thank_you .title_ty h3{
        font-size: 54px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .thank_you .title_ty{
        margin-bottom: 93px;
    }
    .thank_you .video .vid_content{
    
        width: 100%;
        max-width: unset;
    }
    
    .thank_you .video{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* gap: 79.13px; */
        gap: 49.13px;
    }
}
@media screen and (min-width: 992px) {
    .thank_you .video{
        gap: 79.13px;
    }

}
.faq{
    background: #fff;
    margin-bottom: 70px;
}
.faq .access_wrapper{
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 187px;
}
.faq .access_wrapper h3{
    width: 100%;
    max-width: 748px;
    margin: 0 auto;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 50px;
}
.faq .access_wrapper span{
    color: #F47B20;
}
.faq .access_wrapper .access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.faq .access_wrapper .access .acc_image{
    position: relative;
    width: 100%;
    max-width: 405px;
}
.faq .access_wrapper .access .acc_image img{
    height: auto;
    width: 100%;

}
.faq .access_wrapper .access .acc_image .acc_play{
    height: auto;
    width: 88px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.faq .access_wrapper .access .acc_content p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.8px;
}
.faq .access_wrapper .access .acc_content .icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.faq .access_wrapper .access .acc_content .icon img{
    height: 32px;
    width: 32px;
}
@media screen and (min-width: 768px) {
    .faq .access_wrapper h3{
        font-size: 54px;
        margin-bottom: 93px;
    }
    .faq .access_wrapper .access .acc_image{
        position: relative;
        width: 100%;
        max-width: 405px;
    }
    .faq .access_wrapper .access{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: flex-start;
        gap:52px;
    }
}

@media screen and (min-width: 992px) {
    .faq .access_wrapper .access{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap:72px;
    }
}


.faq .faq_wrapper > h3{
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 81px;
}
.faq .faq_wrapper > h3 span{
    color: #F47B20;
}
.faq .faq_wrapper{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .faq .faq_wrapper > h3{
        font-size: 54px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}

.accordion_container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 9px;
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    position: relative;
}
.accordion_container .accordion .accordion_btn{
    /* padding: 27px; */
    padding: 18px;
    /* font-size: 21px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.accordion_container .accordion .accordion_btn img{
    pointer-events: none;
    height: 20px;
    width: 20px;
}
.accordion_container .accordion .accordion_btn h3{
    pointer-events: none;
}
.accordion_container .accordion  .accordion_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: #FFF;
    padding: 10px 12px;
}
.accordion_container .accordion .accordion_body{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
}


.accordion_container .accordion.active  .accordion_body{
    margin-top: 26px;
    /* height: 180px; */

}
.accordion_container .accordion.active .accordion_body.second{
    /* height: 390px; */
}
.accordion_container .accordion.active  .accordion_body .accordion_content{
    /* padding: 22px 23px;
    margin-top: 26px; */
}
.accordion_container .accordion .accordion_content > h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.accordion_container .accordion .accordion_content > h3 img{
    height:auto;
    width: 20px;
    cursor: pointer;
}
.accordion_container .accordion .accordion_content > p{
    font-size: 15px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

@media screen and (min-width: 768px) {
    .accordion_container .accordion .accordion_btn{
        padding: 27px;
        font-size: 21px;
    }
    .accordion_container{
        gap: 26px;
    }
    .accordion_container .accordion.active  .accordion_body{
        margin-top: 26px;
        height: 180px;
    
    }
    .accordion_container .accordion .accordion_content > h3{
        font-size: 24px;
    }
    .accordion_container .accordion .accordion_content > p{
        font-size: 22px;
    }
    .accordion_container .accordion  .accordion_content{
        padding: 22px 23px;
    }
    
    .accordion_container .accordion.active .accordion_body.second{
        height: 390px;
    }
    .accordion_container .accordion .accordion_btn img{
        pointer-events: none;
        height: unset;
        width: unset;
    }
    .accordion_container .accordion .accordion_content > h3 img{
        height:unset;
        width:unset;
        cursor: pointer;
    }
}

.footer{
    height: 560px;
    /* width: 100%; */
    margin: 0;
    padding-top: 160px;
    padding: 0;
    background-image: url('./assets/footer_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.footer > img{
    position: absolute;
    object-fit: cover;
    top: -130px;
    left: 0;
    right: 0;
    width: 100%;
    height: 194px;
}
.footer .footer_center{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .footer_center {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px ;
    color: #fff;
    flex: 1;
    padding: 0 20px;
}
.footer .footer_center > img{
    margin-bottom: 34px;
    height: auto;
    width: 148px;
}
.footer .footer_center h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 54px;

    text-align: center;
}
.footer .footer_center span{
    color: #F47B20;
}
.footer .footer_center .mission{
    display: flex;
    gap: 20px;
}
.footer .footer_center .mission span{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer .footer_link{
    /* height: 61px; */
    height: 100px;
    width: 100%;
    background: #000;
    position: relative;
    
}
.footer .footer_link span{
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(133deg, #F34508 -3.04%, #FB8B00 58.3%, #FA7711 98.4%);
}
.footer .footer_link .footer_details{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 1200px;
}
.footer .footer_link .footer_details h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.84px;
    color: #fff;
    opacity: 0.7;
}
@media screen and (min-width: 768px) {
    .footer .footer_center h3{   
        text-align: left;
    }
    .footer .footer_center .mission{
        display: flex;
        gap: 59px;
    }
    .footer .footer_center {
        padding: 0 0px;
    }
    
    .footer .footer_link .footer_details{
        height: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        max-width: 1200px;
        margin: 0 auto;
    }
    .footer .footer_link{
        height: 61px;
        
    }
    .footer .footer_link span{
        /* flex: 1; */
        /* padding-right: 30px; */
    }
}

